/** PCサイズ **/
@media screen and (min-width: 1025px) {
  /* グリッドコンテナ */
  .container {
    display: grid;
    grid-template-rows: 100px 400px 300px;
    grid-template-columns: 45% 1fr;
    grid-template-areas: 
      'header header'
      'areaA areaC'
      'areaB areaC';
  }

  /* グリッドアイテム */
  .header {
    grid-area: header;
  }
  .explanation {
    grid-area: areaA;
    align-self: center;   /* 垂直方向 */
    justify-self: center; /* 水平方向 */
  }

  .buttonArea {
    grid-area: areaB;
    display: flex;
    justify-content: space-around;
    justify-self: center; /* 水平方向 */
    width: 500px;
    text-align: center;
  }

  .backGround {
    grid-area: areaC;
  }
  
  /* ボタン */
  .signInButton {
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 200px;
    height: 50px;
    padding: 8px 24px;
    font-family: sans-serif;
    font-size: 20px;
    color: #fff;
    background-color: #404040;
    overflow-wrap: anywhere;
  }
  
  .signUpButton {
    align-items: center;
    width: 100%;
    max-width: 200px;
    height: 50px;
    padding: 8px 24px;
    font-family: sans-serif;
    font-size: 20px;
    color: #404040;
    text-align: center;
    overflow-wrap: anywhere;
    background-color: #F2F2F2;
    border: 2px solid #404040;
  }
}



/** タブレットサイズ **/
@media screen and (min-width: 481px) and (max-width:1024px) {
  p {color : green}
}



/** モバイルサイズ **/
@media screen and (max-width: 480px) {
  p {color : blue}
}