@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400&display=swap');

/** PCサイズ **/
@media screen and (min-width: 1025px) {
  .button {
    position: relative;
  }
  
  .button:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s;
  }

  .buttonContentArea {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    position: relative;
  }

  .nameArea {
    position: absolute;
    right: 0;
    left: 0;
    font-family: 'Poppins', 'Noto Sans JP', sans-serif;
    font-weight: 300;
  }
}



/** タブレットサイズ **/
@media screen and (min-width: 481px) and (max-width:1024px) {
  p {color : green}
}



/** モバイルサイズ **/
@media screen and (max-width: 480px) {
  p {color : blue}
}