.mailInputFormArea {
  position: relative;
}

.mailInputForm {
  padding: 0px 50px;
  width: 250px;
  font-size: 1.3rem;
  color: #F2F2F2;
  border: none;
  border-bottom: 2px solid;
  border-color: #F2F2F2;
  background: rgba(0, 0, 0, 0);
}

.mailInputForm:focus {
  outline: none;
}

.mailInputForm::placeholder {
  color: #F2F2F2;
  opacity: 0.8;
}

.mailIcon {
  position: absolute;
  left: 0px;
  bottom: 3px;
  color: #F2F2F2;
}