/** PCサイズ **/
@media screen and (min-width: 1025px) {
  .dropdownMenuArea {
    position: relative;
  }

  .dropdownMenu {
    width: 15rem;
    height: 15rem;
    background-color: #F2F2F2;
    position: absolute;
    right: 0px;
  }

  .dropdownMenuList {
    list-style: none;
    padding-left: 0;
  }

  .dropdownMenuListItem1, .dropdownMenuListItem2 {
    width: 100%;
    color: #2c3e50;
    font-size: 1.5rem;
  }
}

/** タブレットサイズ **/
@media screen and (min-width: 481px) and (max-width:1024px) {
  p {color : green}
}



/** モバイルサイズ **/
@media screen and (max-width: 480px) {
  p {color : blue}
}