/** PCサイズ **/
@media screen and (min-width: 1025px) {
  .signInModalContent, .blurSignInModalContent {
    width: 50vw;
    height: 70vh;
    color: rgb(44, 62, 80, 0.6);
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 16px 12px 12px 3px rgba(0, 0, 0, 0.8);
  }

  .blurSignInModalContent {
    backdrop-filter: blur(12px);
  }
}



/** タブレットサイズ **/
@media screen and (min-width: 481px) and (max-width:1024px) {
  p {color : green}
}



/** モバイルサイズ **/
@media screen and (max-width: 480px) {
  p {color : blue}
}