header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  position: relative;
}

.headerLogo {
  display: flex;
  gap:16px;
  align-items: center;
  margin: 0;
  height: 100%;
  padding-left: 64px;
  font-size: 4rem;
  font-weight: bold;
  color: #ecf0f1;
  cursor: pointer;
}

.headerNav {
  position: absolute;
  right: 0;
}

.headerList {
  display: flex;
  gap: 42px;
  align-items: center;
  list-style: none;
  color: #ecf0f1;
  padding-right: 64px;
}

.aboutSite {
  cursor: pointer;
  font-size: 2rem;
}

.userIconArea {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}