header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  position: relative;
  background-color: #bdc3c7;
  border-bottom: solid;
  border-color: #34495e;
  border-width: thin;
}

.headerLogo {
  display: flex;
  gap:16px;
  align-items: center;
  padding-left: 64px;
  font-size: 2.5rem;
  font-family: 'Meiryo';
}

.headerNav {
  position: absolute;
  right: 0;
}

.headerList {
  display: flex;
  gap: 32px;
  align-items: center;
  list-style: none;
}

.userIcon {
  padding-right: 16px;
}