.passwordInputFormArea {
  position: relative;
}

.passwordInputForm {
  padding: 0px 50px;
  width: 250px;
  font-size: 1.5rem;
  color: #F2F2F2;
  border: none;
  border-bottom: 2px solid;
  border-color: #F2F2F2;
  background: rgba(0, 0, 0, 0);
}

.passwordInputForm:focus {
  outline: none;
}

.passwordInputForm::placeholder {
  color: #F2F2F2;
  opacity: 0.8;
}

.passwordInputFormArea .material-symbols-outlined {
  width: 28px;
  position: absolute;
  left: 0px;
  color: #F2F2F2;
}

.passwordInputFormArea .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}