.passwordInputFormArea {
  position: relative;
}

.passwordInputForm {
  padding: 0px 30px 8px 60px;
  width: 270px;
  font-size: 1.3rem;
  color: #F2F2F2;
  border: none;
  border-bottom: 1px solid;
  border-color: #F2F2F2;
  background: rgba(0, 0, 0, 0);
}

.passwordInputForm:focus {
  outline: none;
}

.passwordInputForm::placeholder {
  color: #F2F2F2;
  opacity: 0.8;
}

.passwordIcon {
  position: absolute;
  left: 0px;
  bottom: 8px;;
  color: #F2F2F2;
}