/** PCサイズ **/
@media screen and (min-width: 1025px) {
  .signInTabContent {
    width: 50vw;
    height: calc(70vh - 80px);
    display: grid;
    grid-template-rows: 5% 20% 10% 20% 15% 25%;
    grid-template-areas:
      'messageArea'
      'mailInput'
      'passwordInput'
      'submitButton'
      'horizontalLine'
      'googleSignInButton';
  }

  .messageArea {
    grid-area: messageArea;
    justify-self: start;
    align-self: end;
    padding-left: 30px;
    padding-bottom: 5%;
    font-size: 3rem;
  }

  .mailInputForm {
    grid-area: mailInput;
    justify-self: center;
    align-self: end;
    padding-left: 20px;
    width: 50%;
    height: 40%;
  }

  .passwordInputForm {
    grid-template-areas: passwordInput;
    justify-self: center;
    align-self: end;
    padding-left: 20px;
    width: 50%;
    height: 40%;
  }

  .signInButton {
    grid-template-areas: submitButton;
    justify-self: center;
    align-self: end;
    padding-left: 20px;
    width: 40%;
    height: 40%;
  }

  .horizontalLine {
    grid-template-areas: horizontalLine;
    justify-self: center;
    align-self: end;
    height: 1px;
    width: 85%;
    border: none;
    background-color: rgb(44, 62, 80);
  }

  .googleSignInButton {
    grid-template-areas: googleSignInButton;
    justify-self: center;
    align-self: center;
    width: 35%;
    height: 30%;
    padding-left: 20px;
  }
}



/** タブレットサイズ **/
@media screen and (min-width: 481px) and (max-width:1024px) {
  p {color : green}
}



/** モバイルサイズ **/
@media screen and (max-width: 480px) {
  p {color : blue}
}