@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body, html {
  margin: 0;
  padding: 0;
}

html {
  font-size: 0.625vw;
  @media screen and (min-width: 1601px) {
      font-size: 62.5%;
  }
  @media screen and (max-width: 1000px) {
      font-size: 39.0625%;
  }
  @media screen and (max-width: 750px) {
      font-size: 62.5%;
  }
}

body {
  background-color: #ecf0f1;
  font-family: 'Noto Sans JP', sans-serif;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}